resources:
- service.yaml
- deployment.yaml
- namespace.yaml
- cronjob.yaml
- sa.yaml
namespace: openeuler-meetingserver
commonAnnotations:
  kubernetes.ops.cluster: infra-shanghai-test-cluster
  kubernetes.ops.email: ""
  kubernetes.ops.os.base: openeuler
  kubernetes.ops.owner: liuqi
  kubernetes.ops.region: sh
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.ap-southeast-1.myhuaweicloud.com/infra-hk/openeuler/meetingserver
  newTag: master-305626
