---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openeuler-website
  namespace: openeuler-website
spec:
  replicas: 8
  strategy:
    rollingUpdate:
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app: openeuler-website
  template:
    metadata:
      labels:
        app: openeuler-website
    spec:
      imagePullSecrets:
      - name: huawei-swr-image-pull-secret
      containers:
      - name: websiteinfod
        image: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler-website-test:75402a95558ff4779a2ea4accd296b50aed4e38b 
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 200m
            memory: 200Mi
