resources:
- ingress.yaml
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- secrets.yaml
- pvc.yaml
- ingress-backend.yaml
commonLabels:
  app: infrastructure-cla
commonAnnotations:
  email: chenzeng765@163.com
  owner: chenzeng
namespace: cla-test
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/cla-backend
  newTag: 37a94ba49c7a2590e2139c4ddb7d2105bdb766b7
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/cla-webui
  newTag: 6fcfa8dab9088e393849abaeef22f4c4d3fb1891
