resources:
- namespace.yaml
- deployment.yaml
- service.yaml
#- ingress.yaml
commonLabels:
  app: landscape
  owner: tommylikehu
commonAnnotations:
  email: tommylikehu@gmail.com
namespace: landscape
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/landscape
  newTag: 7353c78b5ec0362fe88ee95e5e8f732bba57abb6
