apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- autoscaler.yaml
commonAnnotations:
  kubernetes.ops.cluster: test
  kubernetes.ops.email: yangwei226@h-partners.com
  kubernetes.ops.owner: yangwei
  kubernetes.ops.region: hk
namespace: openeuler-software-pkg
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/software-package-gateway-test
  newTag: add_log-79c424
