resources:
- analysis.yaml
- dm.yaml
- eureka.yaml
- gateway.yaml
- api-gateway.yaml
- ingress.yaml
- sca-namespace.yaml
- secrets.yaml
- web.yaml
- rabbitmq.yaml
commonLabels:
  server: infrastructure-sca
commonAnnotations:
  email: xzq615@hotmail.com
  owner: xiaozhongqi
namespace: sca
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-analysis
  newTag: bb62cbe20e97ccf05ca9ee94eed8185f9f395fe1
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-api-gateway
  newTag: 4fb24ea520f4b455e8a76ff04c8b2ebf289c174d
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-datamanager
  newTag: ba368a8a08b1fba4ebadab78455dcc0e1b624b3d
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-eureka
  newTag: 40bc8fcc931c5c20828a5e90c238d60ce3de36e3
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-gateway
  newTag: 51a223bd0e091621a870b2de48ad0efe52bd8aca
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-web
  newTag: fced92f893b5f9aa143033ea4b96cba8f4bd14b2
