---
apiVersion: v1
kind: ConfigMap
metadata:
  name: usercenter-configmap
  namespace: openeuler-usercenter
data:
  default.conf: |
    # openeuler-usercenter.test.osinfra.cn
    server {
      # listen 443 ssl;
      server_name openeuler-usercenter.test.osinfra.cn;
      # charset utf-8;

      listen 80;
      charset utf-8;
      limit_conn perserver 50;

      location / {
        location /assets {
          # publish every two weeks
          expires 14d;
          add_header Cache-Control public;
        }
        location / {
          add_header Cache-Control no-cache;
          root /usr/share/nginx/html/euler;
          index index.html index.htm;
          try_files $uri $uri/ /index.html;
        }

        location /oneid/ {
          proxy_pass https://omapi.test.osinfra.cn;
        }
        root /usr/share/nginx/html/euler;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
        #   error_page 404 /404.html;
      }
    }
    # id-test.opengauss.org
    server {
      # listen 443 ssl;
      server_name id-test.opengauss.org;
      # charset utf-8;

      listen 80;
      charset utf-8;
      limit_conn perserver 50;

      location / {
        location /assets {
          # publish every two weeks
          expires 14d;
          add_header Cache-Control public;
        }
        location / {
          add_header Cache-Control no-cache;
          root /usr/share/nginx/html/gauss;
          index index.html index.htm;
          try_files $uri $uri/ /index.html;
        }

        location /oneid/ {
          proxy_pass https://omapi.test.osinfra.cn;
        }
        root /usr/share/nginx/html/gauss;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
        #   error_page 404 /404.html;
      }
    }